<div class="flex">
  <div class="mx-auto shadow"> <iframe width="894" height="503" src="https://www.youtube.com/embed/YxEohNn5hWo" frameborder="0" class="mx-auto shadow-lg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="mx-auto mt-20 mb-10 shadow-lg" src="https://open.spotify.com/embed/artist/50w8FgjuzCUw1EAec102Nk" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
