<section class="h-full bg-primary">
  <div class="flex flex-col w-full md:h-screen md:flex-row bg-primary">
    <div class="flex flex-col items-center justify-center py-24 md:w-2/3 md:py-0">
      <div class="flex flex-col m-8 lg:m-24">
        <h1 class="mb-4 text-5xl font-semibold">My passion is music.</h1>
        <span class="text-sm font-light text-gray-500 ">
          Pellentesque cursus et urna et tincidunt. Vestibulum tincidunt convallis varius. Maecenas non viverra enim, id elementum nunc. Donec quis orci eleifend, viverra nunc in, semper nulla. Morbi blandit nec ipsum sed imperdiet. Duis ipsum lacus, posuere sed euismod non, condimentum a ligula. Maecenas cursus vulputate nulla et luctus.
        </span>
      </div>

      <div class="flex flex-row justify-around w-5/6">
        <div class="flex">
          <%= link_to 'https://open.spotify.com/artist/50w8FgjuzCUw1EAec102Nk?si=4pMkOnjaQAa7Ej2CGRLKzA' do %>
            <%= image_pack_tag('spotify.svg', class: 'w-16 h-16') %>
          <% end %>
        </div>

        <div class="flex">
          <%= link_to 'https://soundcloud.com/hankjrz' do %>
            <%= image_pack_tag('soundcloud.svg', class: 'w-16 h-16') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="flex w-full md:w-1/3">
      <div class="first-overlay-image"></div>
    </div>
  </div>
</section>
