<section class="h-full bg-white">
  <div class="flex flex-col w-full lg:flex-row">
    <div class="hidden bg-second-image bg-cover lg:flex lg:w-1/3">
      <div class="second-overlay-image"></div>
    </div>

    <div class="flex flex-col items-center justify-center py-24 lg:w-2/3 lg:py-0">
      <div class="flex flex-col m-8 lg:m-24">
        <div class="flex flex-row">
          <div class="flex-1"></div>
          <div class="flex-grow-0 px-8 mt-8 lg:px-24 xl:px-36">
            <span class="text-2xl font-light text-gray-600 lg:text-lg">
              Growing up in Sweden, I have learnt the importance of nature and believe it to be an integral part of mankind's well-being. I see my music as a dedication to mother earth and everything she offers us mere morals.
              A few years back, I was staying in Edinburgh in search for any kind of inspiration. I found out about folk musician Nick Drake, and started researching his entire life. I immediately fell in love with his music. The combination of simplicity and odd alternate tunings has inspired me greatly through my own musical experience. I owe him everything.
            </span>
          </div>
        </div>
      </div>

      <div class="flex flex-row justify-around w-5/6 mb-4">
        <div class="flex">
          <%= link_to 'https://open.spotify.com/artist/50w8FgjuzCUw1EAec102Nk?si=4pMkOnjaQAa7Ej2CGRLKzA' do %>
            <%= image_tag('spotify.svg', class: 'w-16 h-16') %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="flex bg-second-image bg-cover bg-center lg:hidden lg:w-1/3" />
  </div>
</section>
