.text-grey {
  color: #dfdfdf;
  transition: color 0.5s;
}

.first-overlay-image {
  background-image: linear-gradient(rgba($primary, 0.25),
                                    rgba($primary, 0.25)),
                    url("../images/first.jpg");
  @apply bg-cover w-full h-screen;
}

.second-overlay-image {
  background-image: linear-gradient(rgba($primary, 0.25),
                                    rgba($primary, 0.25)),
                    url("../images/second.jpg");
  @apply bg-cover w-full h-screen;
}
