<section class="pt-0 mx-auto lg:pt-36">
  <div class="grid grid-rows-2 lg:grid-rows-1 grid-cols-3 gap-4">
    <div class="hidden lg:block"></div>

    <div class="flex flex-col items-center justify-start col-span-3 lg:col-span-1">
      <div class="flex-1">
        <h1 class="py-8 text-5xl uppercase">About</h1>
      </div>

      <div class="flex flex-row">
        <div class="flex-1 flex-col justify-center align-middle">
          <div class="flex-1">
            <p class="paragraph px-8">
            Gustaf started out as a fingerstyle guitarist in Uppsala, Sweden, but has since progressed in to everything from folk and indie, to jazz & blues.
            Being heavily inspired by late 60’s and early 70’s folk musician Nick Drake, Gustaf has been improvising a lot with alternative tunings in his guitar playing.
            </p>
            <blockquote class="px-8 my-8 border-l-2 border-gray-300">
              <em class="text-gray-500">
                “When I first listened to Nick’s album Five Leaves Left, I immediately understood that he was going to become a great inspiration for me as a musician. He made me realize that music truly is an art. He wrote songs in the most unorthodox fashion and is still being recognized for it decades after his death. My song Young Boy is dedicated to Nick and everything he has given to us mere mortals”.
              </em>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-cover bg-about-image col-span-3 lg:col-span-1"></div>
  </div>
</section>
