<div class="flex justify-center">
  <div class="flex w-1/3 justify-end">
    <ul class="flex pt-16 px-4 justify-between items-stretch">
      <li class="mr-6">
        <a class="text-grey" href="https://open.spotify.com/artist/50w8FgjuzCUw1EAec102Nk?si=4pMkOnjaQAa7Ej2CGRLKzA">Music</a>
      </li>
      <li class="mr-6">
        <a class="text-grey" href="https://www.youtube.com/channel/UCDnUVGCpaJXE-zcr8EYB-5w">YouTube</a>
      </li>
      <li class="mr-6">
        <a class="text-grey" href="https://www.instagram.com/gustafholmbergg/">Instagram</a>
      </li>
    </ul>
  </div>

  <div class="flex">
    <%= image_tag 'gustaf-holmberg-logo.svg' %>
  </div>

  <div class="w-1/3 flex justify-start items-stretch">
    <ul class="flex pt-16 px-4">
      <li class="mr-6">
        <a class="text-grey" href="#">About</a>
      </li>
      <li class="mr-6">
        <a class="text-grey" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div
